.close-zone {
  pointer-events: none;

  height: 100vh;
  width: 100vw;

  position: fixed;
  left: 0px;
  top: 0px;

  opacity: 0.5;

  transition: all 0.3s;
}

.active-close-zone {
  pointer-events: all;
  cursor: pointer;

  left: 300px;

  background-color: var(--CLOSE-ZONE-BG-COLOR);
  z-index: 9;
}
