.categories-container {
  height: auto;
  min-height: 130px;

  display: flex;

  align-items: center;
  justify-content: flex-start;
  gap: 15px;

  padding: 15px 0px;

  overflow-y: hidden;
  overflow-x: auto;
}

.categories-vertical {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
  gap: 15px;

  overflow-y: auto;
  overflow-x: hidden;
}
