.user-info-container {
  cursor: pointer;

  height: 40px;
  width: 40px;

  background-color: #ff0054;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.user-info-container img {
  height: 300px;
  width: auto;
}

.user-info-container:hover {
  filter: drop-shadow(0 0 8px #90e0ef);
}
