.form-container {
  height: 450px;
  width: 350px;

  background-color: #003566;

  border-radius: 10px;

  flex-direction: column;
  gap: 20px;
}

.form-item {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.login-input {
  width: 100%;
  min-width: 40px;
  max-width: 240px;

  background-color: #1e2329;
  color: white;

  border: 1px solid #2d3137;
  border-radius: 5px;

  padding: 10px 10px;
}

.login-input:focus {
  outline: 2px solid #4361ee;
}

.login-input::placeholder {
  color: #c5c5c5;
}
